<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    />
    <title>Bart Warrior</title>
  </head>

  <body>
    <%- include('header'); -%>
    <div class="container">
      <div class="row">

<!-- If the Api has no data within these parameters for north and or south, the user sees a message explaining There are no respective trains.  -->

        <% if (!North.root.station[0].etd) { %> 
          <div class="col-md-5 m-1 rounded bg-warning text-primary">
            <h1 class="p-2" >
              No Northbound Trains at this Time</h1>
          </div>
           <%}%> 

        <% if (!South.root.station[0].etd) { %> 
          <div class="col-md-5 m-1 rounded bg-primary text-light">
            <h1 class="p-2" >
              No Southbound Trains at this Time</h1>
          </div>
          <%}%> 

 <!-- If no times are listed, bart is not running at this station, display afterhours -->

          <% if (!South.root.station[0].etd && !North.root.station[0].etd) { %> 
            <%-include('afterHours'); %>
              <%}%> 

            <!-- Northbound Module  -->
        <% if (North.root.station[0].etd) { %> 
          <%- include('north'); -%> 
          <% } -%>
          
          <!-- SouthBound Module -->
        <% if (South.root.station[0].etd) { %> 
          <%- include('south'); -%>
          <% } -%>

      </div>
    </div>
    <%- include('footer'); -%>
  </body>
  <script
    src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous"
  ></script>

  <script
    type="text/javascript"
    src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
  ></script>
</html>
