<% if (North.root.station[0].etd == "undefined") { %> 
  <%- include('afterHours'); -%> 
  <%}%> 

<% for (var i = 0; i < North.root.station[0].etd.length; i++) { %>
<div class="col-md-5 m-1 rounded bg-warning text-light">
  North
  <h1>
    <span class="text-primary">
      <%= North.root.station[0].etd[i].destination %></span
    >
  </h1>
  <h2>
    in:
    <span class="text-primary">
      <% for ( J = 0; J < North.root.station[0].etd[i].estimate.length; J++) {%> 
        <!-- Inserts Commas between but not after each instance of "minutes" -->
        <%= North.root.station[0].etd[i].estimate[J].minutes %> 
        <% if ( J < North.root.station[0].etd[i].estimate.length-1){ %> , 
          <% } %>
           <% } %>
    </span>
  Minutes</h2>
</div>
<% } %>
